<html>
    <body>
        <h1>Teste</h1>

        <script>
            function logar() {
                var request = new XMLHttpRequest();
                request.open('GET', '/logar');

                request.onload = function (e) {
                    console.log(request.responseText);

                    setTimeout(function(){
                      logar();
                    },1000);
                };

                request.send(null);
            };

            logar();
        </script>
    </body>
</html>
